//Variables
//Color variables
$navyblue: #202A44;
$indigo:#485cc7;
$lightblue:#9FAee5;
$lightgreen:#a0dab3;
$darkblue:#5f78d3;
$darkgreen:#5dc07e;
$peach:#ffb990;
$orange:#ff7e33;
$white:#ffffff;
$black:#000000;

$para-fonts: "Aktiv-Grostek", arial, sans-serif;
$heading-fonts: "Publico Headline", sans-serif;

/*Fonts*/
@font-face {
    font-family: 'Aktiv-Grostek';
    src: url('../fonts/aktiv_grotesk-webfont.woff') format('woff'), url('../fonts/aktiv_grotesk-webfont.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Aktiv-Grostek';
    src: url('../fonts/aktiv_grotesk_italic-webfont.woff') format('woff'), url('../fonts/aktiv_grotesk_italic-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Aktiv-Grostek';
    src: url('../fonts/aktiv_grotesk_bold-webfont.woff') format('woff'), url('../fonts/aktiv_grotesk_bold-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Publico Headline';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/PublicoHeadline-Medium.woff') format('woff'), url('../fonts/PublicoHeadline-Medium.woff2') format("woff2");
}

@font-face {
    font-family: 'Publico Headline';
    font-weight: bold;
    font-style: italic;
    src: url('../fonts/PublicoHeadline-BoldItalic.woff') format('woff'), url('../fonts/PublicoHeadline-BoldItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Publico Headline';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/PublicoHeadline-Light.woff2') format('woff2'), url('../fonts/PublicoHeadline-Light.woff') format('woff');
}

@font-face {
    font-family: 'Publico Headline';
    font-weight: 300;
    font-style: italic;
    src: url('../fonts/PublicoHeadline-LightItalic.woff2') format('woff2'), url('../fonts/PublicoHeadline-LightItalic.woff') format('woff');
}

@font-face {
    font-family: 'Publico Headline';
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/PublicoHeadline-Bold.woff2') format('woff2'), url('../fonts/PublicoHeadline-Bold.woff') format('woff');
}

/*Basic components/fonts/button  styling*/

body{
    color:$white;
}

//Fonts & Font size

p,ul,li,a,span, table, label, .para-font{
    font-family: $para-fonts;
}

h1,h2,h3,h4,h5,h6, .header-font{
    font-family: $heading-fonts;
}

h1, .h1{
   // font-size: 3.9vw; //75px in figma design
   font-size:2.9rem; //font guideline from zucoradev site
}

h2, .h2{
    font-size:2.5rem; //zucoradev
}

.h3, h3{
    font-size: 2rem;
}

.h4, h4{
    font-size: 1.5rem;
}

h5, .h5{
    font-size:1.25rem;
}

h6, .h6{
    font-size: 1.15rem;
}

.footnote-fontsize{
    font-size:0.075rem; // 14px
}

.major-headline{
    //font-size:6.25vw; //120px in figma design
    font-size:4.5rem; //from zucoradev
}

//Text color

.white-text{
    color:$white;
}

.lightgreen-text{
    color:$lightgreen;
}

.peach-text{
    color:$peach;
}

//Buttons custom classes

.btn{
    color:$black;
}

.orange-btn{
    background-color: $peach;
    border-color: $peach;

    &:hover{
        background-color: $orange;
        transition: all 0.3s ease-in;
        border-color: $orange;
    }
}

.green-btn{
    background-color: $lightgreen;
    border-color: $lightgreen;
    &:hover{
        background-color: $darkgreen;
        border-color: $darkgreen;
        transition: all 0.3s ease-in;
    }
}

//Backgrounds

.lightgreen-background{
    background-color: $lightgreen;
}


/*Header styling*/
.navy-background{
    background-color: $navyblue;
}

/*2nd div participate section*/

.participate-section{
    background-color: grey;
    background-image: linear-gradient(0deg,rgba(32,42,68,0.6),rgba(32,42,68,0.6)),url('../images/contest-promo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    width: 100%;
}